<!-- Leif Lang -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="ass3.css"> 
    <meta charset="UTF-8">
    <title>Order Page</title>
</head>
<body>
    <h1>Order Page</h1>
    <h1>There was an error with your order</h1>
    <h2>Must have at least one topping</h2>
    <button><a href="/customerPage">Home</a></button>
    <button><a href="/showOrders">Show Orders</a></button>
    <button><a href="/createOrder">Create Order</a></button>
    <button><a href="/logout">Logout</a></button>
</body>
</html>