<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action ="addnew">
            <input type = "text" name="userName"><br>
            <input type = "text" name="userRole"><br>
            <input type = "text" name="userAddress"><br>
            <input type ="submit"><br>
                <button><a href="/logout">Logout</a></button>

        </form>
</body>
</html>