<!-- Written and modified by Ravneet Singh -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="ass3.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAGER          </title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>MANAGER PAGE</h1>
            <form>
             <div class="container">
              <div class="row">
              <div class="col-sm-4">
                <button><a href="/managerpage">Go  Manager page</a><br></button>                                                   
                </div>
                <div class="col-sm-4">
                    <button> <a href="/employeepage">Go Employee page</a><br></button>
                    
                </div>
                <div class="col-sm-4">
                    <button><a href="/customerpage">Go customer Page </a></button>
                </div>
            </div>
        </div>                                        
        <button type="button" class="btn btn-danger"><a href="/logout">Logout</a></button>                        
            </form>        
        </div>    
    </div>  
</body>
</html>